.home {
  height: 100vh;
}

.top-banner {
  background-color: #163d23;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  letter-spacing: 1px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  background-color: #1e5631;
  height: 10%;
}

.title {
  font-size: 26px;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
}

.logo {
  height: 100%;
  background-repeat: no-repeat;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  font-size: 18px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  opacity: 0.7;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 8%;
  background-color: #e8f3ea;
  min-height: 85vh;
}

.hero-left {
  max-width: 600px;
}

.hero-left h1 {
  font-size: 52px;
  color: #1e5631;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-left p {
  font-size: 18px;
  color: #2e7d32;
  margin-bottom: 30px;
}

.scan-btn {
  padding: 15px 35px;
  border: none;
  border-radius: 30px;
  background-color: #1e5631;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.primary-btn:hover {
  background-color: #163d23;
}

.hero-right {
  width: 350px;
  height: 400px;
  background-color: #cde8d1;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card {
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  color: #1e5631;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}